In [1]:
from pathlib import Path 
import chardet 
import os 
import pandas as pd
import numpy as np

In [2]:
root_dir = Path(".").resolve().parent
root_dir

WindowsPath('C:/Users/Diego_Castells/Desktop/ETL/ArgenProp')

In [3]:
files_path=os.path.join(root_dir,"etl","data","betaAparthments.csv")

In [4]:
df = pd.read_csv(files_path,encoding='utf-8') 
df

,currencyPurchase,pricePurchase,expensesCurrency,expensesPrice,direcction,coveredArea,bedrooms,antiquity,toilets,environments,garages,condition,provision
0,USD,360.000,$,52.000,Av Cabildo 100,145,3,10000,2,4,1,Excelente,Frente
1,USD,85.000,$,14.000,Republica de la India 2800,35,1,10000,1,2,0,Excelente,Contrafrente
2,USD,600.000,$,50.000,JUAN MARIA GUTIERREZ 3900,140,2,10000,2,3,1,Excelente,Frente
3,USD,215.000,$,34.000,Lavalle 4000,65,2,10000,1,3,1,Excelente,Contrafrente
4,USD,123.000,$,8.900,GÜEMES 3900,55,2,10000,1,3,0,,Frente
...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,USD,144.000,$,18.000,"Fray Justo Santa Maria De Oro 2200, Piso 9",42,1,10000,1,2,0,Excelente,Frente
89,USD,340.000,$,10.539,ARMENIA al 2300,151,6,10000,4,7,0,,Frente
90,USD,54.000,$,12.000,SANTAMARIA DE ORO al 2200,26,Monoambiente,10000,1,1,0,,NaN
91,USD,58.000,$,32.000,"Bonpland 1500, Piso pb",0,1,10000,1,2,0,A Refaccionar,Lateral
92,USD,105.000,$,12.500,Uriarte 1200,48,1,10000,1,2,0,,NaN

In [5]:
df_provision = df[['provision']]
df_provision_dummies = pd.get_dummies(df_provision)
df_condition = df[['condition']]
df_condition_dummies = pd.get_dummies(df_condition)
df = pd.concat([df,df_provision_dummies, df_condition_dummies], axis=1)

In [6]:
df

,currencyPurchase,pricePurchase,expensesCurrency,expensesPrice,direcction,coveredArea,bedrooms,antiquity,toilets,environments,...,provision_Contra Frente,provision_Contrafrente,provision_Frente,provision_Interno,provision_Lateral,condition_,condition_A Refaccionar,condition_Bueno,condition_Excelente,condition_Muy Bueno
0,USD,360.000,$,52.000,Av Cabildo 100,145,3,10000,2,4,...,0,0,1,0,0,0,0,0,1,0
1,USD,85.000,$,14.000,Republica de la India 2800,35,1,10000,1,2,...,0,1,0,0,0,0,0,0,1,0
2,USD,600.000,$,50.000,JUAN MARIA GUTIERREZ 3900,140,2,10000,2,3,...,0,0,1,0,0,0,0,0,1,0
3,USD,215.000,$,34.000,Lavalle 4000,65,2,10000,1,3,...,0,1,0,0,0,0,0,0,1,0
4,USD,123.000,$,8.900,GÜEMES 3900,55,2,10000,1,3,...,0,0,1,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,USD,144.000,$,18.000,"Fray Justo Santa Maria De Oro 2200, Piso 9",42,1,10000,1,2,...,0,0,1,0,0,0,0,0,1,0
89,USD,340.000,$,10.539,ARMENIA al 2300,151,6,10000,4,7,...,0,0,1,0,0,1,0,0,0,0
90,USD,54.000,$,12.000,SANTAMARIA DE ORO al 2200,26,Monoambiente,10000,1,1,...,0,0,0,0,0,1,0,0,0,0
91,USD,58.000,$,32.000,"Bonpland 1500, Piso pb",0,1,10000,1,2,...,0,0,0,0,1,0,1,0,0,0
92,USD,105.000,$,12.500,Uriarte 1200,48,1,10000,1,2,...,0,0,0,0,0,1,0,0,0,0

In [7]:
#df.drop(columns=['condition','provision','condition_ '], inplace=True)

In [8]:
files_path=os.path.join(root_dir,"etl","dataClean","AparthmentsDataWharehouse.csv")
files_path
df.to_csv(files_path, index=None, header=True)

In [9]:
files_path

'C:\\Users\\Diego_Castells\\Desktop\\ETL\\ArgenProp\\etl\\dataClean\\AparthmentsDataWharehouse.csv'