In [2]:
import re
import requests
from bs4 import BeautifulSoup as bs

In [3]:
import lxml
import time

In [4]:
import pandas as pd

In [8]:
data=pd.read_csv('C:\\Users\\Diego_Castells\\Desktop\\ETL\\ArgenProp\\etl\\dataClean\\AparthmentsDataWharehouse.csv',encoding='utf-8')

In [9]:
data

,currencyPurchase,pricePurchase,expensesCurrency,expensesPrice,direcction,coveredArea,bedrooms,antiquity,toilets,environments,garages,provision_Contra Frente,provision_Contrafrente,provision_Frente,provision_Interno,provision_Lateral,condition_A Refaccionar,condition_Bueno,condition_Excelente,condition_Muy Bueno
0,USD,360.000,$,52.000,Av Cabildo 100,145,3,10000,2,4,1,0,0,1,0,0,0,0,1,0
1,USD,85.000,$,14.000,Republica de la India 2800,35,1,10000,1,2,0,0,1,0,0,0,0,0,1,0
2,USD,600.000,$,50.000,JUAN MARIA GUTIERREZ 3900,140,2,10000,2,3,1,0,0,1,0,0,0,0,1,0
3,USD,215.000,$,34.000,Lavalle 4000,65,2,10000,1,3,1,0,1,0,0,0,0,0,1,0
4,USD,123.000,$,8.900,GÃœEMES 3900,55,2,10000,1,3,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,USD,144.000,$,18.000,"Fray Justo Santa Maria De Oro 2200, Piso 9",42,1,10000,1,2,0,0,0,1,0,0,0,0,1,0
89,USD,340.000,$,10.539,ARMENIA al 2300,151,6,10000,4,7,0,0,0,1,0,0,0,0,0,0
90,USD,54.000,$,12.000,SANTAMARIA DE ORO al 2200,26,Monoambiente,10000,1,1,0,0,0,0,0,0,0,0,0,0
91,USD,58.000,$,32.000,"Bonpland 1500, Piso pb",0,1,10000,1,2,0,0,0,0,0,1,1,0,0,0
92,USD,105.000,$,12.500,Uriarte 1200,48,1,10000,1,2,0,0,0,0,0,0,0,0,0,0

In [10]:
#pip install seaborn

In [17]:
import seaborn as sns
import numpy as np

In [18]:
corr_matrix = data.corr(method='pearson')
corr_matrix
#corr_matrix = sns.heatmap(data.corr(), square=True, annot=True)
#corr_matrix
def tidy_corr_matrix(corr_mat):
    '''
    FunciÃ³n para convertir una matriz de correlaciÃ³n de pandas en formato tidy.
    '''
    corr_mat = corr_mat.stack().reset_index()
    corr_mat.columns = ['variable_1','variable_2','r']
    corr_mat = corr_mat.loc[corr_mat['variable_1'] != corr_mat['variable_2'], :]
    corr_mat['abs_r'] = np.abs(corr_mat['r'])
    corr_mat = corr_mat.sort_values('abs_r', ascending=False)
    
    return(corr_mat)

tidy_corr_matrix(corr_matrix).head(8)

                   variable_1                variable_2         r     abs_r
44               environments                   toilets  0.718630  0.718630
31                    toilets              environments  0.718630  0.718630
149  condition_A Refaccionar         provision_Lateral   0.564519  0.564519
136        provision_Lateral   condition_A Refaccionar   0.564519  0.564519
187      condition_Muy Bueno   provision_Contra Frente   0.439677  0.439677
83   provision_Contra Frente       condition_Muy Bueno   0.439677  0.439677
74   provision_Contra Frente                    garages  0.339347  0.339347
61                    garages  provision_Contra Frente   0.339347  0.339347